extend layout
block content
  script
    var searchresults = "#{JSON.stringify(data)}";
    var searchterms = "#{searchterms}";  
  script(type="text/javascript", src="/javascript/amazonsearch.js")
  
  .container
    .row-fluid
      .col-xs-10
        input.form-control(type='text', placeholder='search in amazon', data-bind="value: searchterms, valueUpdate:'afterkeydown', event:{keypress: $root.checkForEnter}")
      .col-xs-2
        button.btn.btn-primary(data-bind="click: AmazonSearch, enable: searchterms") Search
    br
    br
    .row
      .col-xs-4
        h4 Amazon search results
      .col-xs-2
        h5 Filter Options
      .col-xs-2
        select.form-control(data-bind="options: filterOptions, value: selectedOption, optionsText: 'Name'")
      .col-xs-4
        input.form-control(type='text', placeholder='filter the results', autofocus="" data-bind="value: filterValue, valueUpdate : 'afterkeydown'")        
        
    br
    .row
      .col-xs-12
        div(data-bind="foreach: PagedRows")
          .product
            .details
              |LNP:
              span(data-bind="text: LowestNewPrice")            
            .details
              |LUP:
              span(data-bind="text: LowestUsedPrice")
            .details
              |LUP:
              span(data-bind="text: LowestRefurbishedPrice")
            .pict
              img(data-bind="attr: { src: SmallImageURL}", width=100, height=100)
    br
    .row
      .col-xs-2 ASIN
      .col-xs-2 Lowest New Price
      .col-xs-2 Lowest Used Price
      .col-xs-2 Lowest Refurbished Price
      .col-xs-2 Currency
      .col-xs-2 Picture
    div(data-bind="foreach: PagedRows")
      .row
        .col-xs-2(data-bind="text: ASIN")
        .col-xs-2(data-bind="text: LowestNewPrice")
        .col-xs-2(data-bind="text: LowestUsedPrice")
        .col-xs-2(data-bind="text: LowestRefurbishedPrice")
        .col-xs-2(data-bind="text: CurrencyCode")
        .col-xs-2
          a(data-bind="attr: { href: DetailPageURL}", target="_blank")
            img(data-bind="attr: { src: SmallImageURL}", width=50, height=50)

    .row
      .col-xs-12
        a.pagesinbetween(href="#", data-bind="click: PreviousPage, visible: PageIndex() > 0") Previous
        span(data-bind="foreach: MaxPagesArray")
          a.pagesinbetween(href="#", data-bind="text: name, visible: $parent.MaxPagesArray(), click: $parent.goto") Previous
        a.pagesinbetween(href="#", data-bind="click: NextPage, visible: PageIndex() < MaxPageIndex()") Next    